{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<!-- <main> -->
  
<h1 class="text-center pt-4">About Us</h1>
    <p>Welcome to Infinity Health Hub - a vibrant, supportive forum created exclusively for women who are neurodivergent. Here at Infinity Health Hub , we understand the unique experiences and challenges faced by neurodivergent women. 
    That's why we've built a safe, welcoming space where you can share, learn, and connect with others</p>
    <p>Our community is more than just a forum; it's a sanctuary where differences are celebrated, voices are heard, and personal growth is nurtured. Whether you're seeking advice, looking for resources, or simply need a friend who understands, you'll find what you're looking for here.</p>
    <p>Join in with the discussion, where you can be yourself, explore your strengths, and receive the support you deserve. Together, we are stronger.</p>

<p>Frequently Asked Questions are available at the bottom of this page.<a href="#faq-section" class="link faq-link"> Click here for FAQ</a></p>

<h2 class="text-center py-3">Meet the Team</h2>

<h3>Viola Bergere</h3>
<p> Paragraph about Viola TBA </p>
<p><a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a></p>
<p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a></p>

<h3>Katherine Weston</h3>
<p> Paragraph about Katherine TBA </p>
<p><a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a></p>
<p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a></p>

<h3>Eduard Viorel Stan</h3>
<p> Paragraph about Eduard TBA </p>
<p><a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a></p>
<p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a></p>

<h3>Vasileios Tsimourdagkas</h3>
<p> Paragraph about Vasileios TBA </p>
<p><a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a></p>
<p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a></p>

<h3>Deirdre McCarthy</h3>
<p> Paragraph about Deidre TBA </p>
<p><a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a></p>
<p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a></p>

<h3>Luke Courtney</h3>
<p> Paragraph about Luke TBA </p>
<p><a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a></p>
<p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a></p>

<div class="container">
    <div class="row mx-auto">
        <!-- Card 1 -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/evita.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Evita Orrock</h3>
                    <p class="card-text">Paragraph about Evita TBA</p>
                    <a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a>
                    <p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a></p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/evita.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Evita Orrock</h3>
                    <p class="card-text">Paragraph about Evita TBA</p>
                    <a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a>
                    <p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a></p>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/evita.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Evita Orrock</h3>
                    <p class="card-text">Paragraph about Evita TBA</p>
                    <a href="#" class="link">LinkedIn<i class="icon pl-1 fa-brands fa-linkedin"></i></a>
                    <p><a href="#" class="link">Github<i class="icon pl-1 fa-brands fa-github"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="faq-section">
    <h3 class="text-center py-3">Frequently Asked Questions</h3>

    <div class="accordion pb-3" id="faqAccordion">
        <!-- FAQ Item 1 -->
        <div class="card">
            <div class="card-header" id="faqHeading1">
                <h3 class="mb-0">
                    <button class="link btn btn-link" type="button" data-toggle="collapse" data-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                        How do I contribute to the discussions?
                    </button>
                </h3>
            </div>

            <div id="faqCollapse1" class="collapse" aria-labelledby="faqHeading1" data-parent="#faqAccordion">
                <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
            </div>
        </div>

        <!-- FAQ Item 2 -->
        <div class="card">
            <div class="card-header" id="faqHeading2">
                <h3 class="mb-0">
                    <button class="link btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                        How do I register for an account?
                    </button>
                </h3>
            </div>

            <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2" data-parent="#faqAccordion">
                <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
            </div>
        </div>

        <!-- Add more FAQ items similarly -->
    </div>
</div>


<p></p>
<!-- </main> -->
{% endblock %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var faqLink = document.querySelector(".faq-link");

        faqLink.addEventListener("click", function(event) {
            event.preventDefault();

            // Scroll to the FAQ section
            var faqSection = document.querySelector("#faq-section");
            faqSection.scrollIntoView({
                behavior: "smooth"
            });
        });
    });
</script>