{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<!-- <main> -->

<h1 class="text-center pt-4">About Us</h1>
<p>Welcome to Infinity Health Hub - a vibrant, supportive forum created exclusively for women who are neurodivergent.
    Here at Infinity Health Hub , we understand the unique experiences and challenges faced by neurodivergent women.
    That's why we've built a safe, welcoming space where you can share, learn, and connect with others</p>
<p>Our community is more than just a forum; it's a sanctuary where differences are celebrated, voices are heard, and
    personal growth is nurtured. Whether you're seeking advice, looking for resources, or simply need a friend who
    understands, you'll find what you're looking for here.</p>
<p>Join in with the discussion, where you can be yourself, explore your strengths, and receive the support you deserve.
    Together, we are stronger.</p>

<p>Frequently Asked Questions are available at the bottom of this page.<a href="#faq-section" class="link faq-link">
        Click here for FAQ</a></p>

<h2 class="text-center py-3">Meet the Team</h2>

<div class="container">
    <div class="row mx-auto">
        <!-- Card 1 -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/evita.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Evita Orrock</h3>
                    <p class="card-text">Paragraph about Evita</p>
                    <a href="https://www.linkedin.com/in/evita-orrock/" class="link">LinkedIn<i
                            class="icon pl-1 fa-brands fa-linkedin"></i></a>
                    <p><a href="https://github.com/EvitaKnits" class="link">Github<i
                                class="icon pl-1 fa-brands fa-github"></i></a></p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/viola.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Viola Bergere</h3>
                    <p class="card-text">Paragraph about Viola</p>
                    <a href="https://www.linkedin.com/in/viola-bergere-5a668699/" class="link">LinkedIn<i
                            class="icon pl-1 fa-brands fa-linkedin"></i></a>
                    <p><a href="https://github.com/violaberg" class="link">Github<i
                                class="icon pl-1 fa-brands fa-github"></i></a></p>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/katherine.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Katherine Weston</h3>
                    <p class="card-text">Paragraph about Katherine</p>
                    <a href="https://www.linkedin.com/in/katherine-weston-233154214/" class="link">LinkedIn<i
                            class="icon pl-1 fa-brands fa-linkedin"></i></a>
                    <p><a href="https://github.com/Katherine-Holland" class="link">Github<i
                                class="icon pl-1 fa-brands fa-github"></i></a></p>
                </div>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/eddie.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Eduard Viorel Stan</h3>
                    <p class="card-text">Paragraph about Eduard</p>
                    <a href="https://www.linkedin.com/in/eduard-stan-a98a54215/" class="link">LinkedIn<i
                            class="icon pl-1 fa-brands fa-linkedin"></i></a>
                    <p><a href="https://github.com/EddieStn" class="link">Github<i
                                class="icon pl-1 fa-brands fa-github"></i></a></p>
                </div>
            </div>
        </div>
        <!-- Card 5 -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/diedre.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Deirdre McCarthy</h3>
                    <p class="card-text">Paragraph about Deidre</p>
                    <a href="https://www.linkedin.com/in/deirdre-mc-carthy/" class="link">LinkedIn<i
                            class="icon pl-1 fa-brands fa-linkedin"></i></a>
                    <p><a href="https://github.com/DeeMcCart" class="link">Github<i
                                class="icon pl-1 fa-brands fa-github"></i></a></p>
                </div>
            </div>
        </div>
        <!-- Card 6 -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/luke.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Luke Courtney</h3>
                    <p class="card-text">Paragraph about Luke</p>
                    <a href="https://www.linkedin.com/in/luke-courtney/" class="link">LinkedIn<i
                            class="icon pl-1 fa-brands fa-linkedin"></i></a>
                    <p><a href="https://github.com/lukecdev" class="link">Github<i
                                class="icon pl-1 fa-brands fa-github"></i></a></p>
                </div>
            </div>
        </div>
        <!-- Card 7 -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/vas.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Vasileios Tsimourdagkas</h3>
                    <p class="card-text">Paragraph about Vasileios</p>
                    <a href="https://www.linkedin.com/in/vasileios-tsimourdagkas/" class="link">LinkedIn<i
                            class="icon pl-1 fa-brands fa-linkedin"></i></a>
                    <p><a href="https://github.com/Vasileios20" class="link">Github<i
                                class="icon pl-1 fa-brands fa-github"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="faq-section">
    <h3 class="text-center py-3">Frequently Asked Questions</h3>

    <div class="accordion pb-3" id="faqAccordion">
        <!-- FAQ Item 1 -->
        <div class="card">
            <div class="card-header" id="faqHeading1">
                <h3 class="mb-0">
                    <button class="link btn btn-link" type="button" data-toggle="collapse" data-target="#faqCollapse1"
                        aria-expanded="true" aria-controls="faqCollapse1">
                        How do I contribute to the discussions?
                    </button>
                </h3>
            </div>

            <div id="faqCollapse1" class="collapse" aria-labelledby="faqHeading1" data-parent="#faqAccordion">
                <div class="card-body">
                    Once you are logged in, to contribute to the discussions in the forum, simply click on the
                    discussion you would like to comment on and click reply within the thread.
                </div>
            </div>
        </div>

        <!-- FAQ Item 2 -->
        <div class="card">
            <div class="card-header" id="faqHeading2">
                <h3 class="mb-0">
                    <button class="link btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                        How do I register for an account?
                    </button>
                </h3>
            </div>

            <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2" data-parent="#faqAccordion">
                <div class="card-body">
                    If you have not yet registered for an account, click on the 'Sign Up' button at the top of this page
                    and follow the instructions. It's simple and easy!
                </div>
            </div>
        </div>

        <!-- Add more FAQ items similarly -->
        <div class="card">
            <div class="card-header" id="faqHeading1">
                <h3 class="mb-0">
                    <button class="link btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#faqCollapse1" aria-expanded="false" aria-controls="faqCollapse1">
                        What is neurodivergence and how does it affect women differently?
                    </button>
                </h3>
            </div>
            <div id="faqCollapse1" class="collapse" aria-labelledby="faqHeading1" data-parent="#faqAccordion">
                <div class="card-body">
                    Neurodivergence refers to differences in brain functions, encompassing conditions like autism, ADHD,
                    and dyslexia. In women, symptoms often manifest differently and may lead to underdiagnosis or
                    delayed recognition, as women are more likely to mask their symptoms. This can result in challenges
                    such as limited access to support and increased mental health risks. Understanding these differences
                    is essential for providing effective support and fostering inclusive environments.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="faqHeading2">
                <h3 class="mb-0">
                    <button class="link btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                        How can I join the Infinity Hub community?
                    </button>
                </h3>
            </div>
            <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2" data-parent="#faqAccordion">
                <div class="card-body">
                    Once you have registered for an account, you will be welcomed into the Infinity Hub forum. A safe
                    space for you to research, share your experiences and connect with other members. You can also
                    follow us on social media for the latest news.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="faqHeading3">
                <h3 class="mb-0">
                    <button class="link btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                        Are there specific sub-forums or threads that focus on professional development for
                        neurodivergent women?
                    </button>
                </h3>
            </div>
            <div id="faqCollapse3" class="collapse" aria-labelledby="faqHeading3" data-parent="#faqAccordion">
                <div class="card-body">
                    As the forum grows, check back for more topics and resources, or why not start your own discussion
                    and ask the Infinity Hub community?
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="faqHeading4">
                <h3 class="mb-0">
                    <button class="link btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                        Can I start my own discussion thread on a new topic?
                    </button>
                </h3>
            </div>
            <div id="faqCollapse4" class="collapse" aria-labelledby="faqHeading4" data-parent="#faqAccordion">
                <div class="card-body">
                    Yes you can! Once logged in, head over to the forum and post your question.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="faqHeading5">
                <h3 class="mb-0">
                    <button class="link btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
                        What resources are available for parents of neurodivergent girls?
                    </button>
                </h3>
            </div>
            <div id="faqCollapse5" class="collapse" aria-labelledby="faqHeading5" data-parent="#faqAccordion">
                <div class="card-body">
                    Parents can use this website to research resources, to share experiences and learn from other
                    community members. If you don't see the answer to your question, why not start the discussion in the
                    forum?
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="faqHeading6">
                <h3 class="mb-0">
                    <button class="link btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#faqCollapse6" aria-expanded="false" aria-controls="faqCollapse6">
                        How can I contribute to the Infinity Hub community?
                    </button>
                </h3>
            </div>
            <div id="faqCollapse6" class="collapse" aria-labelledby="faqHeading6" data-parent="#faqAccordion">
                <div class="card-body">
                    Once logged in, you can contribute to the community forum. Here you can post questions, reply to
                    comments and browse resources. Keep an eye on our social media for more ways to get involved in your
                    area.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="faqHeading7">
                <h3 class="mb-0">
                    <button class="link btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#faqCollapse7" aria-expanded="false" aria-controls="faqCollapse7">
                        Is there a way to speak privately with other members?
                    </button>
                </h3>
            </div>
            <div id="faqCollapse7" class="collapse" aria-labelledby="faqHeading7" data-parent="#faqAccordion">
                <div class="card-body">
                    This website is designed as a safe space to ask questions and to share experiences. We do not allow
                    members to connect privately within the site.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="faqHeading8">
                <h3 class="mb-0">
                    <button class="link btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#faqCollapse8" aria-expanded="false" aria-controls="faqCollapse8">
                        Are there guidelines on how to interact respectfully with other members?
                    </button>
                </h3>
            </div>
            <div id="faqCollapse8" class="collapse" aria-labelledby="faqHeading8" data-parent="#faqAccordion">
                <div class="card-body">
                    We ask that everyone using the site is respectful. Guidelines can be found on the forum page.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="faqHeading9">
                <h3 class="mb-0">
                    <button class="link btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#faqCollapse9" aria-expanded="false" aria-controls="faqCollapse9">
                        What should I do if I see inappropriate content or behavior in the forum?
                    </button>
                </h3>
            </div>
            <div id="faqCollapse9" class="collapse" aria-labelledby="faqHeading9" data-parent="#faqAccordion">
                <div class="card-body">
                    If you see content that you feel is inappropriate or goes against the forum's guidelines, please
                    report this via the contact us page.
                </div>
            </div>
        </div>

        <!-- FAQ end  -->
    </div>
</div>

<p></p>
<!-- </main> -->
{% endblock %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var faqLink = document.querySelector(".faq-link");

        faqLink.addEventListener("click", function (event) {
            event.preventDefault();

            // Scroll to the FAQ section
            var faqSection = document.querySelector("#faq-section");
            faqSection.scrollIntoView({
                behavior: "smooth"
            });
        });
    });
</script>