{% extends "base.html" %}


{% block title %}Home Page{% endblock %}

{% block content %}
<!-- <main> -->


<div class="container pb-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center pt-3">Welcome to Infinity Health Hub!</h1>
            <p class="text-left">Welcome to Infinity Health Hub! We are a health and wellness community dedicated to
                providing resources and support to individuals seeking to improve their health and well-being. Our
                mission
                is to empower individuals to take control of their health and make positive lifestyle changes that will
                lead to a healthier, happier life.</p>

        </div>
    </div>
    <div class="row h-100">
        {% for article in articles|slice:":3" %}
        <div class="col-md-4 my-3">
            <div class="card">
                {% if article.image %}
                <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid offset-auto rounded"
                    width="400">
                {% endif %}
                <div class="card-body">
                    <h2><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h2>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- FORUM -->
    {% if user.is_authenticated %}
    <!-- Forum container code here -->
    {% else %}
    <div class="text-center">
        <p>Please sign up or log in to participate in forum discussions.</p>
        <a href="/accounts/signup/" class="btn btn-primary">Sign Up/In</a>

    </div>
    {% endif %}




    <!-- FORUM -->






</div>

<!-- </main> -->
{% endblock %}