{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col-6 m-auto">
      <h1 class="my-2 pb-3 text-center">{% trans "Login" %}</h1>
    </div>
  </div>
  <div class="row mt-1">
    <div class="form-bg custom-border col-md-6 m-auto border rounded p-3">
      <form class="login text-center" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="link button secondaryAction pr-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="custom-btn primaryAction btn btn-secondary" type="submit">{% trans "Login" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}