{% extends "base.html" %}

{% block title %}Resources{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="pb-3">Articles <span class="h4 text-muted">(most recent first)</span></h2>
        </div>
        {% if user.is_superuser %}
        <div class="col-12 text-center mb-2">
            <a href="{% url 'create_article' %}" class="custom-btn btn rounded">Create Article</a>
        </div>
        {% endif %}
        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <form method="GET" action="{% url 'articles' %}" class="mb-4">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="life_stage">Filter by Life Stage:</label>
                                <select name="life_stage" id="life_stage" class="form-control">
                                    <option value="">All</option>
                                    {% for life_stage in life_stages %}
                                    <option value="{{ life_stage.id }}">{{ life_stage.lifestage }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="neurodiversity">Filter by Neurodivergence:</label>
                                <select name="neurodiversity" id="neurodiversity" class="form-control">
                                    <option value="">All</option>
                                    {% for neurodiversity in neurodiversities %}
                                    <option value="{{ neurodiversity.id }}">{{ neurodiversity.neurodiversity }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-danger float-right mt-3">Apply Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if articles %}
        {% for article in articles %}
        <div class="col-md-4 mb-4 rounded">
            <div class="card mb-4 shadow h-100 rounded">
                {% if article.image %}
                <a href="{% url 'article_detail' article.id %}">
                    <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid offset-auto rounded"
                        width="400">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5><a href="{% url 'article_detail' article.id %}" class="link">{{ article.title }}</a></h5>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12 text-center">
            <h4>No articles found.</h4>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
