{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2 class="pt-2 text-center">Post Details</h2>
    <div class="row">
        <div class="col-12">
            {% if post.image %}
            <img class="rounded mb-2" src="{{ post.image.url }}" alt="{{ post.title }} Image"
                style="max-width: 100%; max-height: 200px;">
            {% endif %}
            <h3 class="fw-bold">{{ post.title }}</h3>
            <p><img class="navbar-image rounded-circle" src="{{ request.user.userprofile.profile_image.url }}"
                    alt="Users avatar logo"> {{ request.user }} &#8226; {{ post.created_on }}</p>
            <div class="card mb-4 rounded card-post-bg">
                <div class="card-body">
                    <p class="card-text">{{ post.content|safe }}</p>
                    <div class="row">
                        <div class="col-12">
                            <strong>
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'like_post' post.id %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" class="p-1" name="postpost_id" value="{{post_id}}"><i
                                            class="fas fa-heart"></i>Dislike</button>
                                    {% else %}
                                    <button type="submit" class="p-1" name="postpost_id" value="{{post_id}}"><i
                                            class="far fa-heart"></i>Like</button>
                                    {% endif %}
                                </form>
                                <form class="d-inline" action="{% url 'save_post' post.id %}" method="POST">
                                    {% csrf_token %}
                                    {% if saved %}
                                    <button type="submit" class="p-1" name="postpost_id" value="{{post_id}}"><i
                                            class="fas fa-heart"></i>Unsave</button>
                                    {% else %}
                                    <button type="submit" class="p-1" name="postpost_id" value="{{post_id}}"><i
                                            class="far fa-heart"></i>Save</button>
                                    {% endif %}
                                </form>

                                {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                {% endif %}
                                <span class="text-secondary">
                                    <p>{{ post.likes_count }} <i class="fas fa-heart"></i></p>
                                </span>
                            </strong>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>replies:
                                {% with replies.count as total_replies %}
                                <strong class="text-secondary">{{ total_replies }}</strong>
                                {% endwith %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" class="btn btn-primary" aria-label="edit post">Edit</a>
            <a href="#" class="btn btn-danger" aria-label="delete post">Delete</a>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 card-bg rounded border shadow">
            <h3 class="fw-bold">Leave a reply:</h3>
            {% if user.is_authenticated %}
            <p class="d-inline mr-3 text-">Posting as: {{ user.username }}</p>
            <form method="POST" id="replyForm">
                {% csrf_token %}
                <div class="form-group" id="form-placeholder">
                    <label for="reply"></label>
                    {{ reply_form | crispy }}
                    {% csrf_token %}
                </div>
                <div class="form-group d-none" id="form-ckeditor">

                </div>
                <div>
                    <button type="submit" class="btn btn-primary float-right mr-3" id="submitButton">Submit</button>
                </div>
            </form>
            {% else %}
            <p class="text-secondary">You must be logged in to post a reply.</p>
            {% endif %}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 mt-3 card-bg">
                <h3 class="pt-4 pl-4 fw-bold">Replies:</h3>
                <div class="card-body">
                    {% if reply %}
                    {% for rep in reply %}
                    <div class="replies{% if not reply_approved and rep.author == user %} faded{% elif not rep.is_approved %} d-none{% endif %}"
                        style="padding: 10px;">
                    
                        <p class="font-weight-bold">
                            {{ rep.author }}
                            <span class="text-muted font-weight-normal">
                                {{ rep.created_on }}
                            </span> wrote:
                        </p>
                        {{ rep.body | linebreaks }}
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>Be the first to leave a reply.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-1">
            {% for comment in page_obj %}
            <div class="comments{% if not comment.approved and comment.user == user %} faded{% elif not comment.approved %} d-none{% endif %}"
                style="padding: 10px;">
                <div class="card shadow">
                    <div class="card-body">
                        <p class="card-text" id="comment{{comment.id}}">{{ comment.comment }}</p>
                        <p class="card-text d-inline mr-3">Posted by: {{ comment.user }}</p>
                        {% if comment.updated_on|time:"TIME_FORMAT" > comment.created_on|time:"TIME_FORMAT" %}
                        <p class="card-text d-inline">Updated on: {{ comment.updated_on }}</p>
                        {% else %}
                        <p class="card-text d-inline">Posted on: {{ comment.created_on }}</p>
                        {% endif %}
                    </div>
                </div>
                {% if not comment.approved and comment.user == user %}
                <p class="approval">This comment is awaiting approval</p>{% endif %}
                {% if user.is_authenticated and comment.user == user %}
                <button class="btn btn-delete btn-outline-danger mt-2"
                    data-comment_id="{{ comment.id }}">Delete</button>
                <button class="btn btn-edit btn-outline-info mt-2" data-comment_id="{{ comment.id }}">Edit</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="deleteModalComment" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your comment? This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="#" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}